:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
    background-color: var(--light-gray);
    width: 100vw;
    height: 100vh;

}

.qr-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 10px 30px;
    box-shadow: 1px 20px 50px var(--grayish-blue);
}

.qr-block__img {
    width: calc(100% - 10px);
    margin: 0 auto;
    border-radius: 10px;
}

.qr-block__content {
    padding: 0 20px;
    text-align: center;
}

.qr-block p {
    font-size: 15px;
    color: var(--dark-blue);
}